In [1]:
import yfinance as yf 
import pandas as pd
import ta
import warnings as w
w.filterwarnings('ignore')
import os
import numpy as np

Downloading the stocks data for last 1 year, saving them into a csv file

In [2]:

output_dir = "stocks"
os.makedirs(output_dir, exist_ok=True)

stocks = [
    "RELIANCE.NS", "TCS.NS", "INFY.NS", "HDFCBANK.NS", "ICICIBANK.NS",
    "LT.NS", "SBIN.NS", "HINDUNILVR.NS", "ITC.NS", "KOTAKBANK.NS"
]

for ticker in stocks:
    df = yf.download(ticker, period="1y", interval="1d", progress=False)
    stock_name = ticker.replace(".NS", "")
    file_path = os.path.join(output_dir, f"{stock_name}.csv")
    df.to_csv(file_path)
    print(f"Saved: {ticker}")

Saved: RELIANCE.NS
Saved: TCS.NS
Saved: INFY.NS
Saved: HDFCBANK.NS
Saved: ICICIBANK.NS
Saved: LT.NS
Saved: SBIN.NS
Saved: HINDUNILVR.NS
Saved: ITC.NS
Saved: KOTAKBANK.NS

In [3]:
stocks_use = ['SBIN.NS',"ITC.NS", "LT.NS"]

3 stocks that will be used in this model

In [4]:
for stock in stocks_use:
    stock = stock.split('.')
    stock = stock[0]
    file = f'{stock}.csv'
    path = os.path.join('stocks',file)
    globals()[f"{stock}_df"] = pd.read_csv(path)

In [5]:
LT_df

,Price,Close,High,Low,Open,Volume
0,Ticker,LT.NS,LT.NS,LT.NS,LT.NS,LT.NS
1,Date,NaN,NaN,NaN,NaN,NaN
2,2024-08-08,3520.714599609375,3595.2196895455763,3514.6708679657236,3587.5413009561235,2038088
3,2024-08-09,3558.85888671875,3572.234144389889,3542.6598667853705,3566.7353789703648,848232
4,2024-08-12,3538.944580078125,3577.6338004034938,3530.0773278420515,3545.9294853625324,1965035
...,...,...,...,...,...,...
248,2025-08-04,3631.10009765625,3636.800048828125,3577.0,3595.199951171875,1033049
249,2025-08-05,3652.60009765625,3657.699951171875,3608.300048828125,3630.0,1158433
250,2025-08-06,3628.39990234375,3671.0,3622.199951171875,3650.0,931383
251,2025-08-07,3641.60009765625,3649.0,3599.199951171875,3610.300048828125,1211790
252,2025-08-08,3636.300048828125,3662.300048828125,3633.199951171875,3641.60009765625,444341

Cleaning the dataframe of every stock

In [6]:
SBIN_df = SBIN_df[2:]
LT_df = LT_df[2:]
ITC_df = ITC_df[2:]
ITC_df.head()

,Price,Close,High,Low,Open,Volume
2,2024-08-08,478.2502136230469,481.3918269515459,476.07525054947064,477.5252259318548,20558134
3,2024-08-09,479.36187744140625,481.3918489695563,476.6552684037568,481.3918489695563,9201793
4,2024-08-12,478.1052551269531,483.3251609654143,475.59195838996766,475.59195838996766,9076097
5,2024-08-13,473.65863037109375,481.24684085965686,471.9669924054827,479.4102112541013,7757706
6,2024-08-14,475.7852783203125,482.3584884064827,473.5619649824716,475.54361575097056,9253598

In [7]:

ITC_df.reset_index(inplace=True)
ITC_df.drop(columns='index',inplace=True)
LT_df.reset_index(inplace=True)
LT_df.drop(columns='index',inplace=True)
SBIN_df.reset_index(inplace=True)
SBIN_df.drop(columns='index',inplace=True)

In [8]:
ITC_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   251 non-null    object
 1   Close   251 non-null    object
 2   High    251 non-null    object
 3   Low     251 non-null    object
 4   Open    251 non-null    object
 5   Volume  251 non-null    object
dtypes: object(6)
memory usage: 11.9+ KB

Changing the data type to correct type

In [9]:
def convert_to_float(df):
    df.iloc[:, 1:] = df.iloc[:, 1:].apply(pd.to_numeric, errors='coerce')
    
    df = df.dropna(subset=df.columns[1:])
    
    df.iloc[:, 1:] = df.iloc[:, 1:].astype(float)
    return df

ITC_df = convert_to_float(ITC_df)
SBIN_df = convert_to_float(SBIN_df)
LT_df = convert_to_float(LT_df)

Renaming all the columns to thier correct name

In [10]:
ITC_df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
SBIN_df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
LT_df.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']

LT_df.head()

         Date         Open         High          Low        Close     Volume
0  2024-08-08    3520.7146   3595.21969  3514.670868  3587.541301  2038088.0
1  2024-08-09  3558.858887  3572.234144  3542.659867  3566.735379   848232.0
2  2024-08-12   3538.94458    3577.6338  3530.077328  3545.929485  1965035.0
3  2024-08-13  3518.980957  3573.670854  3512.441845  3546.920337  1316218.0
4  2024-08-14   3512.44165  3545.632104  3503.822088  3526.064598  1584372.0

Calculating the required indicators for a stock, Like RSI, SMA20, SMA50
- RSI - A momentum indicator that measures the speed and change of price movements. Range 0-100.
  
           - RSI < 30 → Oversold → Potential buy signal
           - RSI > 70 → Overbought → Potential sell signal
- SMA20 -  The average closing price over the last 20 days.
- SMA50 - The average closing price over the last 50 days.
- Bullish Signal: SMA20 crosses above SMA50 → trend may be turning upward.
- Bearish Signal: SMA20 crosses below SMA50 → trend may be turning downward.

In [11]:
def add_indicators(df):
    # Ensure 'Close' exists
    if 'Close' not in df.columns:
        print("[ERROR] Missing 'Close' column.")
        return df

    # Calculate indicators using ta and pandas
    df['RSI'] = ta.momentum.RSIIndicator(close=df['Close'], window=14).rsi()
    df['SMA20'] = df['Close'].rolling(window=20).mean()
    df['SMA50'] = df['Close'].rolling(window=50).mean()
    
    return df.dropna()

    
LT_df = add_indicators(LT_df)
ITC_df = add_indicators(ITC_df)
SBIN_df = add_indicators(SBIN_df)

In [12]:
LT_df.reset_index(inplace=True)
LT_df.drop(columns='index',inplace=True)
ITC_df.reset_index(inplace=True)
ITC_df.drop(columns='index',inplace=True)
SBIN_df.reset_index(inplace=True)
SBIN_df.drop(columns='index',inplace=True)

- MACD - Moving Average Convergence Divergence
- A trend-following momentum indicator.
- It shows the relationship between two Exponential Moving Averages (EMAs). EMA12 - EMA26
- EMA12: Faster moving average (short-term)
- EMA26: Slower moving average (long-term)

In [13]:
def generate_signals(df):    

    # MACD
    ema12 = df['Close'].ewm(span=12, adjust=False).mean()
    ema26 = df['Close'].ewm(span=26, adjust=False).mean()
    df['MACD'] = ema12 - ema26

    # Signal generation
    df['Signal'] = 0
    df.loc[(df['RSI'] < 50) & (df['SMA20'] > df['SMA50']), 'Signal'] = 1
    df['Target'] = (df['Close'].shift(-1) > df['Close']).astype(int)

    return df
LT_df = generate_signals(LT_df)
SBIN_df = generate_signals(SBIN_df)
ITC_df = generate_signals(ITC_df)

- Strategy
In trading, a strategy defines a rule-based approach to buy/sell decisions.
For example:
Buy when RSI < 30 and 20-DMA > 50-DMA
Sell after price increases 5% or after 10 days

- Cumulative Strategy Return
This is the total return generated by applying the strategy over time. It tells you how much your money would grow if you followed the strategy.

- Position
A position represents whether you're in a trade or out of it (holding cash).
1 = in the market (buy/hold)
0 = out of the market (no position)

- Returns
This refers to percentage change in price, typically daily

- Total Return
The overall gain or loss made by a stock or strategy over a period.

- Sharpe Ratio
Measures risk-adjusted return. It shows how much return you're getting per unit of risk. A higher Sharpe ratio (>1) is better; it means you're earning good returns for the risk taken.

- Win Ratio
Proportion of profitable trades out of total trades.Helps you assess how often your strategy wins.

In [14]:
def backtesting(df):
    # Ensure DataFrame is not modified externally
    df = df.copy()
    
    # Calculate positions (shift signals to avoid look-ahead bias)
    df['Position'] = df['Signal'].shift()
    
    # Calculate daily returns
    df['Returns'] = df['Close'].pct_change()
    
    # Calculate strategy returns
    df['Strategy'] = df['Returns'] * df['Position']
    
    # Cumulative strategy returns (compounded)
    df['Cumulative_Strategy'] = (1 + df['Strategy']).cumprod() - 1
    total_return = df['Cumulative_Strategy'].iloc[-1]
    
    # Win ratio (only for days with non-zero strategy returns)
    active_trades = df[df['Strategy'] != 0]
    win_ratio = (active_trades['Strategy'] > 0).sum() / len(active_trades) if len(active_trades) > 0 else 0
    
    # Additional metric: Sharpe Ratio (annualized)
    sharpe_ratio = (df['Strategy'].mean() / df['Strategy'].std()) * np.sqrt(252) if df['Strategy'].std() != 0 else 0
    
    return round(total_return, 4), round(win_ratio, 2), round(sharpe_ratio, 2)
    
total_return_LT, win_ratio_LT, sharpe_ratio_LT = backtesting(LT_df)
total_return_SBI, win_ratio_SBI, sharpe_ratio_SBI = backtesting(SBIN_df)
total_return_ITC, win_ratio_ITC, sharpe_ratio_ITC = backtesting(ITC_df)

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [16]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import datetime

In [17]:
def ml_prediction_dtc(df):
    features = ['RSI', 'MACD', 'SMA20', 'SMA50', 'Volume']
    
    # Ensure all features are present
    missing = [f for f in features if f not in df.columns]
    if missing:
        print(f"Missing features: {missing}")
        return None

    X = df[features]
    y = df['Target']

    if X.empty or y.empty:
        print("Empty X or y. Skipping ML.")
        return None

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
    
    clf = RandomForestClassifier(max_depth=4)
    clf.fit(X_train, y_train)

    return clf.score(X_test, y_test)

accuracy_LT = ml_prediction_dtc(LT_df)
accuracy_SBI = ml_prediction_dtc(SBIN_df)
accuracy_ITC = ml_prediction_dtc(ITC_df)
print('ITC',accuracy_ITC)
print('LT',accuracy_LT)
print('SBI',accuracy_SBI)

ITC 0.4878048780487805
LT 0.5853658536585366
SBI 0.5853658536585366

By doing the hyperparameter tunning we can imporve the accuracy for the model. Also there are some ML models that are specifically build for trading, we can use them for better performance.

In [18]:
def init_sheet():
    scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']
    creds = ServiceAccountCredentials.from_json_keyfile_name('credentials.json',scope)
    client = gspread.authorize(creds)

    return client.open('Algo_trade')

sheet = init_sheet()

In [21]:
def log_sheet(df, sheet, stock, total_return, win_ratio, accuracy):
    # Ensure Date is datetime
    df['Date'] = pd.to_datetime(df['Date'])
    
    for _, row in df[df['Signal'] == 1].iterrows():
        log_trade(sheet, stock, str(row['Date'].date()), row['Close'], 'BUY', total_return)
    log_summary(sheet, stock, total_return, win_ratio, accuracy)

# Log trade function
def log_trade(sheet, stock, date, price, action, total_return):
    sheet.worksheet('TradeLog').append_row([stock, date, action, price, total_return])

# Log summary function
def log_summary(sheet, stock, total_return, win_ratio, accuracy):
    sheet.worksheet('Summary').append_row([stock, total_return, win_ratio, accuracy])

Saving data into google sheets. TradeLog and Summart 2 separate sheets

In [23]:

    
log_sheet(LT_df, sheet, 'LT.NS',total_return_LT, win_ratio_LT, accuracy_LT)
log_sheet(SBIN_df, sheet, 'SBIN.NS',total_return_SBI, win_ratio_SBI, accuracy_SBI)
log_sheet(ITC_df, sheet, 'ITC.NS',total_return_ITC, win_ratio_ITC, accuracy_ITC)

APIError: APIError: [429]: Quota exceeded for quota metric 'Read requests' and limit 'Read requests per minute per user' of service 'sheets.googleapis.com' for consumer 'project_number:428701723624'.